#programs-container {
    background-color: #EFF1F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 148px 0;
}
#programs-preview {
    display: flex;
    margin-top: 50px;
    width: 100%;
    max-width: 1140px;
    justify-content: space-between;
}
#resources-view-more {
    text-decoration: none;
    color: white;
}
a {
    text-decoration: none;
}