
node_modules
build
.idea
.history/src/components/Footer/Footer_20220621113723.jsx
.history/src/components/Footer/Footer_20220621113952.jsx
.history/src/components/Footer/Footer_20220621113953.jsx
*.zip
*.zip
*.zip
