#content{
	width: 100%;
// 	background-color: #f3f1dc;
	display: flex;
	flex-direction: row;
}
#left{
	width: 65%;
	//background-color: #E0DECA;
	margin: 5px;
	border-radius: 10px;
}
#right{
	width: 100%;
	height: auto;
	margin: 5px;
	display: flex;
	flex-direction: column;
}
#right1{
	width: 100%;
	min-height: 200px;
	border-radius: 10px;
	//background-color: #E0DECA;
}
#right2{
	width: 100%;
	height: 700px;
	margin-top: 5px;
	border-radius: 10px;
	overflow-y: auto;
	//background-color: #E0DECA;
}
.ant-input{
	border-radius: 8px !important;
	border:1px solid #A25B5B !important;
	resize: none;
}
.ant-input-group-addon{
	border-radius: 8px !important;
}
.ant-btn{
	border-radius: 8px !important;
// 	background-color: #A25B5B !important;
// 	border: #A25B5B !important;
}
.ant-comment-inner:hover{
	background-color: #809A6F;
	border-radius: 10px;
}
.ant-form-item-explain-error{
	text-align: center;
	// margin: 5px !important;
}
// .ant-form-item-control-input{
// 	margin-top: 10px;
// }
#error{
	font-size: 50px;
	font-weight: bolder;
	color: #A25B5B;
	text-align: center;
	width: 100%;
	height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	}