.content{
	height: auto;
	width: 100%;
	.ant-card-body{
		font-size: 15px;
		font-weight: bolder;
	}
}

img:hover{
	transform: scale(1.05);
}
.ant-card-actions{
	border-radius: 0 0 10px 10px;
	//background-color: #E0DECA;
	border: #d3dfea 1px solid !important;
	
}
// .ant-card-bordered{
// 	border: 2px #A25B5B solid !important;
// }
// .ant-card-actions li{
// 	margin: 0px !important;
// 	//background-color: #E0DECA;
//
// }
a:hover{
	font-weight: bolder;
}
.ant-card-meta-title{
	font-weight: bolder !important;
// 	color: #A25B5B !important;
}
#error{
	font-size: 50px;
	font-weight: bolder;
	color: #A25B5B;
	text-align: center;
	width: 100%;
	height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}